coverage==7.3.2
homeassistant==2023.12.1
pre-commit==3.6.0
pylint==3.0.2
pytest-asyncio
pytest-cov
pytest-homeassistant-custom-component==0.13.83
pytest-rerunfailures==13.0
pytest-socket==0.6.0
pytest-timeout==2.1.0
pytest
