-r requirements.txt
# Integration requirements from custom_components/hiq/manifest.json
cybro==0.3.1
xmltodict==0.13.0
# Must match the homeassistant version in requirements.txt
pytest-homeassistant-custom-component==0.13.367
